.wrap {
  @apply p-10
}

.gridView {
  @apply grid grid-cols-4 grid-flow-row gap-4 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 
}

.gridView div {
  @apply col-span-1
}

.formInput {
  @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
  focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
  invalid:border-pink-500 invalid:text-pink-600
  focus:invalid:border-pink-500 focus:invalid:ring-pink-500
}

.buttonSubmit {
  @apply bg-indigo-600 px-4 py-2 rounded-lg text-cyan-200
}